<section class="intro">
    {% import "macros.html.twig" as macros %}

    {% if is_disabled(disabled.quotes) == false and intro.quotes|length > 0 and intro.showQuotes == 'top' %}
        {{ macros.show_quotes(intro.quotes, intro.showQuotes) }}
    {% endif %}

    <div class="content">
        {% if intro.headline %}<h2>{{ intro.headline }}</h2>{% endif %}
        {% if intro.hasPhoto() %}
            <img src="{{ intro.photoDataUri }}" alt="{{ person.name }}" class="photo" width="{{ intro.photoSize }}">
        {% endif %}
        {{ intro.content|raw }}
    </div>

    {% if is_disabled(disabled.quotes) == false and intro.quotes|length > 0 and intro.showQuotes == 'bottom' %}
        {{ macros.show_quotes(intro.quotes, intro.showQuotes) }}
    {% endif %}

    {% if is_disabled(disabled.toc) == false %}
        <h4>{{ 'intro.toc'|trans }}</h4>
        <ul class="toc">
            {% if is_disabled(disabled.resume) == false %}
                <li>{{ 'toc.resume'|trans }}</li>
            {% endif %}
            {% if is_disabled(disabled.projects) == false %}
                <li>{{ 'toc.projects'|trans }}</li>
            {% endif %}
            {% if is_disabled(disabled.cv) == false %}
                <li>{{ 'toc.cv'|trans }}</li>
            {% endif %}
            {% if is_disabled(disabled.certs) == false %}
                <li>{{ 'toc.certs'|trans }}</li>
            {% endif %}
        </ul>
    {% endif %}
</section>
