{% import "macros.html.twig" as macros %}

{% if projects|length > 0 %}
    <section class="projects">
        <h2>{{ 'projects.header'|trans }}</h2>
        
        <div class="content">
        {% for project in projects %}
            <article class="project">
                <h3>{{ project.name }} {% if project.stack %}<small>({{ project.stack }})</small>{% endif %}</h3>
                <p class="short-description">{{ project.shortDescription }}</p>
                {{ project.content|raw }}
                {% if project.hasUrls() %}
                <ul>
                    {{ macros.list_link_array(project.urls) }}
                </ul>
                {% endif %}
            </article>
        {% endfor %}
        </div>
    </section>
{% endif %}